<!DOCTYPE html>

<html lang="en"xmlns:th="" >
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Book Store</title>
  </head>
  <body>
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Book Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"  aria-current="page" href="ADD_Books">ADD Books</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="About_us">About us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<head>
 <title>Cards</title>
</head>

<style type="text/css">


*{
 margin: 0px;
 padding: 0px;
}
body{
 font-family: arial;
}
.main{

 margin: 2%;
}

.card{
     width: 20%;
     display: inline-block;
     box-shadow: 2px 2px 20px black;
     border-radius: 5px; 
     margin: 2%;
    }

.image img{
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  

 
 }

.title{
 
  text-align: center;
  padding: 10px;
  
 }

h1{
  font-size: 20px;
 }

.des{
  padding: 3px;
  text-align: center;
 
  padding-top: 10px;
        border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
button{
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding:10px;
}
button:hover{
  background-color: black;
  color: white;
  transition: .5s;
  cursor: pointer;
}

</style>
<body>

<div class="main">

 <!--cards -->

<div class="card">

<div class="image">
   <img src="/images/RichDadPoorDad.jpg">
</div>
<div class="title">
 <h1>
 Rich Dad Poor Dad
</h1>
</div>
<div class="des">
 <p>Rich Dad Poor Dad is Robert's story of growing up with two dads — his real father and the father of his best friend,
  his rich dad — and the ways in which both men shaped his thoughts about money and investing.
   The book explodes the myth that you need to earn a high income to be rich 
 and explains the difference between working for money and having your money work for you.</p>
<button>Read More...</button>
</div>
</div>
<!--cards -->


<div class="card">

<div class="image">
   <img src= "/images/Something I Never Told You.jpg">
</div>
<div class="title">
 <h1>
Something I Never Told You</h1>
</div>
<div class="des">
 <p>When in love, you tend to take each other for granted, and sometimes, 
 that can cost you a lifetime of togetherness . . .Ronnie knew that his first crush was way out of his league,
  and yet he pursued and wooed Adira. Shyly and from a distance in the beginning, and more persuasively later.
   He couldn't believe it when the beautiful Adira actually began to reciprocate
  </p>
<button>Read More...</button>
</div>
</div>
<!--cards -->


<div class="card">

<div class="image">
   <img src="/images/Wuthering Heights.jpeg">
</div>
<div class="title">
 <h1>
Wuthering Heights</h1>
</div>
<div class="des">
 <p>
Jane Eyre
Charlotte Brontë, 1847

Wuthering Heights
Emily Brontë, 1847
Wuthering Heights
image of Wuthering Heights
books.google.com
Wuthering Heights is an 1847 novel by Emily Brontë, initially published under her pen name Ellis Bell. It concerns two families of the landed gentry living on the West Yorkshire moors, the Earnshaws and the Lintons, and their turbulent relationship</p>
<button>Read More...</button>
</div>
</div>
<!--cards -->


<div class="card">

<div class="image">
   <img src="/images/Great Gatsby.jpeg">
</div>
<div class="title">
 <h1>
Great Gatsby </h1>
</div>
<div class="des">
 <p>The Great Gatsby is a 1925 novel by American writer F. Scott Fitzgerald. Set in the Jazz Age on Long Island, near New York City,
  the novel depicts first-person narrator Nick Carraway's
  interactions with mysterious millionaire Jay Gatsby and Gatsby's obsession to reunite with his former lover, Daisy Buchanan.</p>
<button>Read More...</button>
</div>
</div>
<!--cards -->


<div class="card">

<div class="image">
   <img src="/images/Normal People.jpeg">
</div>
<div class="title">
 <h1>
Normal People</h1>
</div>
<div class="des">
 <p>Normal People is a 2018 novel by the Irish author Sally Rooney.
  Normal People is Rooney's second novel, published after Conversations with Friends. 
 It was first published by Faber & Faber on 30 August 2018.</p>
<button>Read More...</button>
</div>
</div>
<!--cards -->

<div class="card">

<div class="image">
   <img src="/images/On the Road.jpeg">
</div>
<div class="title">
 <h1>
On the Road</h1>
</div>
<div class="des">
 <p>On the Road is a 1957 novel by American writer Jack Kerouac, based on the travels of Kerouac and his friends across the United States.
  It is considered a defining work of 
  the postwar Beat and Counterculture generations, with it.</p>
<button>Read More...</button>
</div>
</div>
<!--cards -->

<div class="card">

<div class="image">
   <img src="/images/Emma.jpeg">
</div>
<div class="title">
 <h1>
Emma</h1>
</div>
<div class="des">
 <p>Emma is a novel about youthful hubris and romantic misunderstandings, 
 written by Jane Austen. It is set in the fictional country village of Highbury 
 and the surrounding estates of Hartfield, Randalls and Donwell Abbey, 
 and involves the relationships among people from a small number of families.</p>
<button>Read More...</button>

</div>
</div>
<!--cards -->


<div class="card">

<div class="image">
   <img src="/images/War and Peace.jpeg">
</div>
<div class="title">
 <h1>
War and Peace</h1>
</div>
<div class="des">
 <p>War and Peace is a literary work by the Russian author 
 Leo Tolstoy that mixes fictional narrative
  with chapters on history and philosophy. 
 It was first published serially,
  then published in its entirety in 1869.</p>
<button>Read More...</button>
</div>
</div>
<!--cards -->


<div class="card">

<div class="image">
   <img src="/images/Pride and Prejudice.jpeg">
</div>
<div class="title">
 <h1>
Pride and Prejudice</h1>
</div>
<div class="des">
 <p>Pride and Prejudice is an 1813 novel of manners by Jane Austen. The novel follows the character development of Elizabeth Bennet,
  the dynamic protagonist of the book who learns about the repercussions of hasty judgments and comes to appreciate the difference between
   superficial goodness and actual goodness.</p>
<button>Read More...</button>
</div>
</div>
</div>
</body>
</html>