<!DOCTYPE html>

<html lang="en"xmlns:th="http://www.thymeleaf.org" >
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Book Store</title>
  </head>
  <body style="background:url(./images/library1.jpg)no-repeat center/cover;">
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Book Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="New_Member">New Member Registration</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container-center my-4 col-md-9"  >
<div class="row flex-lg-nowrap">
  <div class="col-12 col-lg-auto mb-3" style="width:100px;">
  </div>

    <div class="row flex-lg-nowrap">
      <div class="col mb-3">
        <div class="e-panel card">
          <div class="card-body">
            <div class="card-title">
              <h6 class="mr-2 text-center "><span>Member List </span></h6>
            </div>
            <div class="e-table">
              <div class="table-responsive table-lg mt-3">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="align-top">
                        
                      </th>
                      <th>ID</th>
                      <th class="max-width">FirstName</th>
                      <th class="max-width">LastName</th>
                       <th >State</th>
      					<th class="max-width" >Address</th>
      					<th >City</th>
      					<th >EmailAddress</th>
      					<th >Phoneno</th>
     					 <th>Zipcode</th>
                      <th>Edit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="m :${Member}">
                      <td class="align-middle">
                        
                      </td>
                      <td th:text="${m.Id}" class="align-middle text-center">
                       
                      </td>
                      <td  th:text="${m.FirstName}" class="text-nowrap align-middle"></td>
                      <td  th:text="${m.LastName}" class="text-nowrap align-middle"></td>
                      <td  th:text="${m.State}" class="text-nowrap align-middle"></td>
                      <td  th:text="${m.Address}"class="text-nowrap align-middle"></td>
                      <td  th:text="${m.City}" class="text-nowrap align-middle"></td>
                      <td  th:text="${m.EmailAddress}"class="text-nowrap align-middle"></td>
                      <td  th:text="${m.Phoneno}" class="text-nowrap align-middle"></td>
                      <td  th:text="${m.Zipcode}" class="text-nowrap align-middle"></td>
                      <td class="text-center align-middle">
                        <div class="btn-group align-top">
                            <button class="btn btn-sm btn-secondary badge" type="button" data-toggle="modal" data-target="#user-form-modal">Edit</button>
                            <button class="btn btn-sm btn-secondary badge" type="button"><i class="fa fa-trash"></i></button>
                        </div>
                      </td>
                  </tbody>
                </table>
              </div>
              <div class="d-flex justify-content-center">
                <ul class="pagination mt-3 mb-0">
                  <li class="disabled page-item"><a href="#" class="page-link">‹</a></li>
                  <li class="active page-item"><a href="#" class="page-link">1</a></li>
                  <li class="page-item"><a href="#" class="page-link">2</a></li>
                  <li class="page-item"><a href="#" class="page-link">3</a></li>
                  <li class="page-item"><a href="#" class="page-link">4</a></li>
                  <li class="page-item"><a href="#" class="page-link">5</a></li>
                  <li class="page-item"><a href="#" class="page-link">›</a></li>
                  <li class="page-item"><a href="#" class="page-link">»</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 mb-3">
      
    </div>
